@font-face {
  font-family: acme;
  src: url(../fonts/Acme-Regular.ttf);
}

@font-face {
  font-family: cute;
  src: url(../fonts/CuteFont-Regular.ttf);
}

html,
body {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  perspective-origin: 0% 50%;
  perspective: 800px;
}

::-webkit-scrollbar {
  width: 0;
}

/* ------------------------------------------------------------------------------------------ */

nav,
main {
  transition: transform 150ms ease-out;
}

nav {
  z-index: 10;
  padding-top: 10px;
  position: relative;
  width: 16em;
  height: 100vh;
  background: url(../images/nav_background.jpg), rgba(0, 0, 0, 0.479);
  background-blend-mode: multiply;
  background-size: cover;
  transform: translateX(-16em);
}

nav.menu-active {
  transform: translateX(0);
}

nav.menu-hover {
  transform: translateX(-15.5em);
}

.fa-bars {
  z-index: 10;
  display: block;
  position: absolute;
  top: 17px;
  right: -50px;
  height: 35px;
  width: 35px;
  font-size: 35px;
  cursor: pointer;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(66, 195, 255),
    rgb(40, 72, 216),
    rgb(66, 195, 255)
  );
  background-size: 400%;
  animation: anim 10s linear infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes anim {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 400% 0;
  }
}

.rainbow {
  position: relative;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(
    rgb(22, 224, 238),
    rgb(71, 148, 219),
    rgb(22, 224, 238)
  );
}

.logo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  width: 80px;
  height: 80px;
  background: rgb(42, 90, 117);
  background-size: cover;
  border-radius: 50%;
}

.logo span {
  position: absolute;
  font-size: 100px;
  font-family: cute;
  font-weight: 600;
  top: -19px;
  left: 50%;
  transform: translate(-45%);
  color: rgb(66, 195, 255);
}

.rainbow span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(
    rgb(22, 224, 238),
    rgb(71, 148, 219),
    rgb(22, 224, 238)
  );
}

.rainbow span:nth-child(1) {
  filter: blur(5px);
}

.rainbow span:nth-child(2) {
  filter: blur(10px);
}

.rainbow span:nth-child(3) {
  filter: blur(25px);
}

.rainbow span:nth-child(4) {
  filter: blur(50px);
}

nav ul {
  list-style: none;
  margin: 4em 10px;
  text-align: center;
}

nav ul li {
  position: relative;
  margin: 10px 0;
}

nav ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: acme;
  font-size: 3em;
  font-weight: 800;
  color: rgb(70, 119, 184);
}

nav ul li a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  background: url(../images/wave.png);
  background-blend-mode: multiply;
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: repeat-x;
  animation: water 2s linear infinite;
  transition: 0.25s;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
}

nav ul li a:hover::before {
  opacity: 1;
  color: rgba(255, 255, 255, 0.1);
}

@keyframes water {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 200px;
  }
}
/* ----------------------------------------------------------------------------------- */
main {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform-origin: 0% 50%;
  overflow-x: hidden;
}

main:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, transparent, rgba(36, 45, 33, 0.5));
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms ease-out, visibility 0s 150ms;
}

main.menu-active {
  transform: translateX(16em) rotateY(15deg);
  overflow: hidden;
}

main.menu-active:after {
  visibility: visible;
  opacity: 1;
  transition: opacity 150ms ease-out, visibility 0s;
}

main.menu-hover {
  transform: translateX(0.5em);
}
/* ------------------------------------------------------------------------------------------------- */
h1 {
  font-family: cute;
  font-size: 4em;
  background: linear-gradient(to right, rgb(66, 195, 255), rgb(40, 72, 216));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
  position: absolute;
  left: 100px;
  top: -5px;
}

h1 span {
  background: orangered;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.faq {
  font-size: 1.5em;
  display: inline;
  position: absolute;
  top: 22px;
  right: 105px;
  font-family: fantasy;
  font-weight: 300;
  letter-spacing: 3px;
}

.faq a {
  color: rgba(255, 68, 0, 0.897);
  text-decoration: none;
}

.search {
  position: absolute;
  top: 20px;
  right: 200px;
  height: 32px;
  padding: 8px;
  border: 1px solid rgba(90, 187, 216, 0.486);
}

.search:focus {
  outline: 0;
}

.fa-search {
  position: absolute;
  top: 20px;
  right: 180px;
  font-size: 20px;
  color: #fff;
  background: #287dfa;
  padding: 6px 10px;
  cursor: pointer;
}

.fa-mobile-alt {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #6e6e6e;
}

.fa-globe-europe {
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 50px;
  color: #3e7ad3;
}
/* ------------------------------------------------------------------------------------------- */

.footer {
  width: 100vw;
  height: 150px;
  position: relative;
}

.agreement1 {
  color: #333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
}

.agreement2 {
  color: #333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
}

.agreement1,
.agreement1:hover,
.agreement1:active,
.agreement1:visited,
.agreement2,
.agreement2:hover,
.agreement2:active,
.agreement2:visited {
  color: #333;
  text-decoration: none;
}

.copyright {
  color: #333;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  position: absolute;
  top: 122px;
  left: 50%;
  transform: translate(-50%);
  letter-spacing: 2px;
}

.ad {
  width: 100vw;
  position: absolute;
  top: 150px;
  height: 50px;
  background: #000;
}

.ad a,
.ad a:visited,
.ad a:active,
.ad a:hover {
  color: #fff;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
  font-family: acme;
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.ad a span {
  color: rgb(0, 255, 0);
}

.soc-ic {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.soc-ic li {
  list-style: none;
  margin: 0 20px;
}

.soc-ic li a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background: #fff;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -10px 10px 5px rgba(255, 255, 255, 0.5);
}

.soc-ic li:nth-child(1) a {
  background: #3b5999;
}

.soc-ic li:nth-child(1) a::before {
  background: #2e4a86;
}

.soc-ic li:nth-child(1) a::after {
  background: #4a69ad;
}

.soc-ic li:nth-child(2) a {
  background: #55acee;
}

.soc-ic li:nth-child(2) a::before {
  background: #4184b7;
}

.soc-ic li:nth-child(2) a::after {
  background: #4d9fde;
}

.soc-ic li:nth-child(3) a {
  background: #db4a39;
}

.soc-ic li:nth-child(3) a::before {
  background: #c13929;
}

.soc-ic li:nth-child(3) a::after {
  background: #e8432e;
}

.soc-ic li:nth-child(4) a {
  background: #0088cc;
}

.soc-ic li:nth-child(4) a::before {
  background: #006ca2;
}

.soc-ic li:nth-child(4) a::after {
  background: #007bb9;
}

.soc-ic li:nth-child(5) a {
  background: linear-gradient(
    -135deg,
    #833ab4,
    #5851db,
    #e1306c,
    #f56040,
    #fcaf45
  );
}

.soc-ic li:nth-child(5) a::before {
  background: linear-gradient(180deg, #e1306c, #f56040, #fcaf45);
}

.soc-ic li:nth-child(5) a::after {
  background: linear-gradient(-135deg, #e1306c, #f56040, #fcaf45);
}

.soc-ic li a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

.soc-ic li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  height: 10px;
  width: 100%;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.soc-ic li a .fab {
  font-size: 20px;
  color: #fff;
  line-height: 40px;
  transition: 0.5s;
}

.soc-ic li:hover a {
  transform: perspective(1000px) rotate(-30deg) skew(25deg)
    translate(10px, -10px);
  box-shadow: -25px 25px 25px rgba(0, 0, 0, 0.5);
  background: #f3f1d2;
}

.soc-ic li:hover a::before {
  background: #b1b1b1;
}

.soc-ic li:hover a::after {
  background: #b1b1b1;
}

.soc-ic li:nth-child(1):hover a .fab {
  color: #3b5999;
}

.soc-ic li:nth-child(2):hover a .fab {
  color: #55acee;
}

.soc-ic li:nth-child(3):hover a .fab {
  color: #db4a39;
}

.soc-ic li:nth-child(4):hover a .fab {
  color: #0088cc;
}

.soc-ic li:nth-child(5):hover a .fab {
  background: linear-gradient(
    -135deg,
    #833ab4,
    #5851db,
    #e1306c,
    #f56040,
    #fcaf45
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
