{% extends 'siteviewer/base.html' %}

{% load static %}

{% block title %}Contact | tisa.com{% endblock %}

{% block styles %}

<link href="{% static 'contact/css/contact.css' %}" rel="stylesheet" />

{% endblock %}

{% block content %}

<section class="zoom">
  <img src="{% static 'contact/images/mountain1.png' %}" id="layer1" alt="" />
  <img src="{% static 'contact/images/mountain2.png' %}" id="layer2" alt="" />
  <img src="{% static 'contact/images/text.png' %}" id="text" alt="" />
</section>
<section class="form-section">
  <div class="form">
    <h6 class="regis">
      We will contact you within 3 work-days after registration is
      complete
    </h6>
    <form action="{% url 'customer' %}" method="POST">
      {% csrf_token %}
      <div class="input-box">
        <input id="full_name" name="full_name" type="text" required />
        <label for="full_name">Full Name</label>
      </div>
      <div class="input-box">
        <input id="email" name="email" type="email" required />
        <label for="email">E-Mail</label>
      </div>
      <div class="input-box">
        <input id="phone" name="phone" class="tel" type="text" required />
        <p class="plus">+</p>
        <label for="phone">Phone</label>
      </div>
      <input type="submit" value="Send" />
    </form>
  </div>
</section>

{% endblock %}

{% block scripts %}

<script src="{% static 'contact/js/imask.min.js' %}"></script>
<script src="{% static 'contact/js/contact.js' %}"></script>

{% endblock %}