{% extends 'siteviewer/base.html' %}

{% block title %}TISA Official Site | Travel Deals and Promotions{% endblock %}

{% block page_styles %}

<link rel="stylesheet" href="../../static/home/css/swiper.min.css">
<link rel="stylesheet" href="../../static/home/css/home.css" />

{% endblock %}

{% block content %}

<div id="slider">
  <div class="swiper-container parallax-slider">
    <div class="swiper-wrapper">
      {% for slide in slides %}
      <div class="swiper-slide">
        <img src="{{ slide.image.url }}" class="slide_image" alt="">
        <div class="slide_content">
          <h3 class="slide_title">{{ slide.title }}</h3>
          <div>
            <p class="slide_description">{{ slide.summary }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next swiper-nav-ctrl next-ctrl"><i class="fas fa-chevron-right"></i></div>
    <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl"><i class="fas fa-chevron-left"></i></div>
    <div class="swiper-pagination pagination-ctrl"></div>
  </div>
</div>

{% endblock %}

{% block page_scripts %}

<script src="../../static/home/js/swiper.min.js"></script>
<script src="../../static/home/js/home.js"></script>

{% endblock %}